<!-- Main -->
<div id="main">

  <header class="major container 75%">
    <h2>競賽
      <br>
      <span style="font-size: 26px; letter-spacing:0; font-style: italic">
        請選擇想要關注的競賽項目，直播中的競賽將會同步更新最新動態
      </span>
    </h2>
    <!--
			<p>Tellus erat mauris ipsum fermentum<br />
			etiam vivamus nunc nibh morbi.</p>
			-->

  </header>

  <div class="box alt container ">
    <div class="row">
      <app-event *ngFor="let eventItem of eventList" [eventItem]="eventItem" class="col-md-4"></app-event>
    </div>
  </div>

  <footer class="major container 75%">
    <h3>Live Score</h3>
    <p>歡迎使用 羽球Live Score系統，此網頁的特色是針對羽球競賽做比分直播，使用者只需要開著網頁瀏覽，就可以即時掌握自己想關注的比賽動態，若是你參賽者，也可以即時核對自己的下一場比賽資訊。若想收看正在直播的競賽，請由首頁選擇職播中的競賽中，你想關注的賽程項目，進入比賽畫面以後，你將不需要重整網頁，比分也會依照現場情況即時更新。</p>
    <!--<ul class="actions">
      <li><a href="#" class="button">Join our crew</a></li>
    </ul>-->
  </footer>
</div>
