<a class="card event-card" (click)="doChooseEvent()">
  <div class="card-block ">
    <h3 class="card-title " style="line-height: 1.5em; letter-spacing:0;">{{ eventItem.name }}</h3>
    <h6 class="card-subtitle mb-2" style="color:darkcyan">{{ changeWord(eventItem.event_status) }}</h6>
    <br>
    <p class="card-text" style="text-align: center">
      <span style="font-weight: 900; font-size: 1.2em;">{{ eventItem.organizer }}</span>
      <br>{{ eventItem.contact }}
      <br>{{ eventItem.address }}
    </p>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">Start Time: {{ eventItem.start_at | date:"yyyy.MM.dd"}}</li>
    <li class="list-group-item">End Time: {{ eventItem.end_at | date:"yyyy.MM.dd"}}</li>
  </ul>
</a>
